.education__anchor {
    scroll-margin-top: 100px;
    min-height: 100vh;
}
.education__block {
    cursor: pointer;
    width: 100%;
}

.education__accordion__header {
    padding: 4px 10px;
    margin: 0;
    font-size: 1.4em;
}

.education__accordion__header_text {
    padding: 10px 0;
    font-size: 1.4em;
    margin: 0;
    width: 100%;
    text-align: center;
}

.education_text {
    width: 60vw;
    text-align: left;
    margin: 0;
    cursor: pointer;
    font-size: 1em;
}

.education__sertificate {
    max-width: 45px;
    cursor: pointer;
}

.selfeducation_img {
    width: 40px;
    cursor: pointer;
    padding: 2px 4px;
}

.modal__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    background-color: white;
    border: 1px solid #000;
    /* box-shadow: inset 1px 1px 1.5em #0421c5; */
    padding: 16px;
    border-radius: 12px;
}

.modal__box_book {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    background-color: white;
    border: 1px solid #000;
    /* box-shadow: inset 1px 1px 1.5em #0421c5; */
    padding: 16px;
    border-radius: 12px;
}



@media (max-width: 700px) {

    .education_text {
        width: 300px;
        font-size: 10px;
    }

    .education__accordion__header {
        padding: 2px 5px;
        margin: 0;
        font-size: 1em;
    }

    .education__accordion__header_text {
        font-size: .9em;
    }

    .modal__box {
        width: 95%;
        padding: 4px 4px;
    }

    .modal__box_text {
        text-align: center;
        font-size: 1.2em;
    }


}

@media (max-width: 350px) {

    .education_text {
        width: 80vw;
        font-size: 2vw;
    }
}