.works__block {
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: whitesmoke;
    width: 80%;
}

.works__img {
    width: 90%;
}

.work__link {
    margin-left: 10px;
}
.work__tehnologis {
    font-size: 1.6em;
}
.work__description {
    font-size: 1.4em;
    font-style: italic;
    
}

@media (max-width: 700px) {
    

    .works__block {
        padding: 2px;
        border-radius: 5px;
        margin: 10px 0;
        background-color: whitesmoke;
        width: 96%;
    }

    .works__img {
        width: 98%;
    }

} 